/* global.css */

@import url('https://fonts.maateen.me/bangla/font.css');

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Bangla', Arial, sans-serif !important;
}

.parent-bg {
  position: relative;
}

.parent-bg::after {
  content: "";
  position: absolute;
  top: 100px;
  left: 0;
  width: 90%;
  height: 90%;
  background-image: url('./assets/images/bg-logo.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 0.2;
  z-index: -1;
}




.custom-bg {
  background-image: linear-gradient(270deg,
      hsl(0deg 0% 100%) 0%,
      hsl(359deg 100% 66%) 25%,
      hsl(360deg 100% 52%) 49%,
      hsl(0deg 100% 63%) 74%,
      hsl(0deg 0% 100%) 100%);
}


.primary-bg {
  background: #fe0000;
}

.social-icons {
  margin-top: 10px;
  background: #fe0000;
  width: 82%;
  border-radius: 12px;
  display: flex;
  gap: 5px;
  justify-content: space-around;
  padding: 4px 6px;
  font-size: 23px;
  box-shadow: 0px -9px 9px 0px rgba(250, 254, 33, 0.87);

}

.social-icons i {
  transition: color 0.3s ease;
}


.social-icons a {
  background: white;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.red-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}


.active {
  background-color: aqua;
}

.img-contain {
  width: 100%;
  position: relative;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
}

.img-contain img {
  width: 100%;
  max-width: 100%;
  /* height: 377px !important; */
  height: auto;
  display: block;
  transition: transform .3s ease-in-out;
}

.overlay {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  background: linear-gradient(to bottom, transparent, transparent, black);
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.title-text {
  bottom: 3px;
  left: 17px;
}

.newscard {
  background-color: #f3f4f6;
  padding: 6px;
  box-shadow: 0 0 10px #0000003c !important;
}

.pointer {
  cursor: pointer;
}

.bg-nil {
  background: #33CCCC;
}

.form-control:focus,
.form-select:focus {

  box-shadow: 0 0 0 0.035rem rgba(13, 110, 253, .25) !important;
}

.nav-links {
  border-radius: 7px !important;
  padding: 6px 8px !important;
  height: 39px !important;
  background: red !important;
  margin: 2px !important;
  text-align: center !important;
  width: 140px !important;
}

.active {
  background-color: #014f03 !important;
}

button.slick-arrow {
  background: #000000;
}

button.slick-arrow:hover {
  background: #262626;
}

button.slick-arrow:focus {
  background: #000000;
}

.hover {
  transition: color 0.3s ease;
}

.hover:hover {
  opacity: 0.7 !important;
}

a {
  transition: color 0.3s ease;
}

a:hover {
  opacity: 0.8 !important;
}


.arrow {
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 18px solid #FF0000;
}

.search-btn {
  width: 304px;
  margin-left: -300px !important;
  margin-top: 15px;
}

.latest-news-img {
  height: 200px !important;
}

@media only screen and (max-width: 767px) {
  .latest-news-img {
    height: 300px !important;
  }
}