/* global.css */

@import url('https://fonts.maateen.me/bangla/font.css');

body {
  font-family: 'Bangla', Arial, sans-serif !important;

}

.custom-bg {
  background-image: linear-gradient(270deg,
      hsl(0deg 0% 100%) 0%,
      hsl(359deg 100% 66%) 25%,
      hsl(360deg 100% 52%) 49%,
      hsl(0deg 100% 63%) 74%,
      hsl(0deg 0% 100%) 100%);
}


.primary-bg {
  background: #fe0000;
}

.social-icons {
  margin-top: 10px;
  background: #fe0000;
  width: 82%;
  border-radius: 12px;
  display: flex;
  gap: 5px;
  justify-content: space-around;
  padding: 4px 6px;
  font-size: 23px;
  box-shadow: 0px -9px 9px 0px rgba(250, 254, 33, 0.87);

}

.social-icons i {
  transition: color 0.3s ease;
}


.social-icons a {
  background: white;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.red-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}


.active {
  background-color: aqua;
}

.img-contain {
  width: 100%;
  position: relative;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
}

.img-contain img {
  width: 100%;
  max-width: 100%;
  /* height: 377px !important; */
  height: auto;
  display: block;
  transition: transform .3s ease-in-out;
}

.overlay {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  background: linear-gradient(to bottom, transparent, transparent, black);
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.title-text {
  bottom: 3px;
  left: 25px;
}

.newscard {
  background-color: #f3f4f6;
  padding: 6px;
  box-shadow: 0 0 10px #0000003c !important;
}

.pointer {
  cursor: pointer;
}