.nav-links {
    border-radius: 7px;
    padding: 6px 8px;
    height: 39px;
    background: red;
    margin: 2px;
    text-align: center;
    width: 160px;
}

.active {
    background-color: hsl(121.54deg 97.5% 15.69%);
}